<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Ward</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Welcome to The Fold!</h1>
    <p>We are currently still in development.</p>
    <p>
      For questions, please contact
      <a href="mailto:thefold.app@gmail.com"> thefold.app@gmail.com</a>
    </p>
    <br />
    <p>Access the app</p>
    <a class="btn btn-primary text-white" href="/app">Let's Go</a>
  </body>
</html>
