<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Fold | Privacy Policy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1>Privacy Policy - The Fold</h1>

    <p>Last updated: August 17, 2020</p>

    <p>
      This Privacy Policy explains our practices regarding information
      collection and usage solely for the "The Fold" app and website.
    </p>
    <p>
      By using or accessing the App, you agree that you have read and understood
      our Privacy Policy. IF YOU DO NOT AGREE TO HAVING YOUR INFORMATION USED IN
      THE WAYS OUTLINED BELOW, DO NOT USE THIS APP.
    </p>
    <p><strong>Personally Identifiable Information That We Collect</strong></p>
    <p>
      The Fold collects personally identifiable information about you that you
      voluntarily submit to us. We may collect this information in a variety of
      ways, including without limitation when you register for an account, when
      you use the features and functionality on our App. The personally
      identifiable information which you may voluntarily provide to us or we may
      otherwise collect or access through the App includes:
    </p>
    <ul>
      <li>Email Address</li>
      <li>Name</li>
      <li>What congregation you are a part of</li>
      <li>
        Information about you contained in communications between you and us
        (e.g., emails).
      </li>
      <li>
        Any content you provide to or create on the app such as content linked
        to a specific ward
      </li>
    </ul>

    <p>
      <strong>Non-Personally Identifiable Information That We Collect</strong>
    </p>
    <p>
      When you visit or use the app, we automatically collect non-identifying
      information. Our App uses “Google Analytics for Firebase” Google Analytics
      for Firebase is an analytics tool which collects information about how you
      use our App. We only use this information on an anonymized basis for our
      own internal analytical purposes. You can find out more about “Google
      Analytics for Firebase” and how it works here:
      https://firebase.google.com/docs/analytics/.
    </p>

    <p><strong>How Information Is Collected and used</strong></p>
    <p>
      <strong>App registration and use:</strong> We will use your information to
      process your registration for an account on the App. Once you are
      registered, we will use your information to identify you when you log into
      secure areas of our App. We will use your account information so that we
      can administer your account and contact you about your account.
    </p>
    <p>
      <strong>Feedback:</strong> From time to time, we may invite you to provide
      feedback about us or our products and services. We will use your personal
      information contained in your feedback or survey response to help us
      improve the quality of service provided by our personnel. We also use your
      feedback to monitor the quality of our products and services and to assist
      with the selection of future products and services.
    </p>
    <p>
      <strong>Promotions:</strong> From time to time, we may run prize draws,
      prize competitions and other promotions on our App. For the purposes of
      administering such promotions, we may process your name, contact details
      (including email address) and any other personal information volunteered
      by you in your promotion entry.
    </p>
    <p>
      <strong>Insight and analysis:</strong> We use your information to monitor
      metrics such as total number of visitors, traffic, and demographic
      patterns. This information is used to create insights about our visitors’
      use of our App. By using this information, we are able to measure the
      effectiveness of our content and how visitors use our App and our products
      and services. This allows us to learn what features and functionality of
      our App are most attractive to our visitors, which parts of our App are
      the most interesting and what kind of features and functionalities our
      visitors and clients like to see.
    </p>
    <p>
      <strong>Diagnostics and maintenance:</strong> We use your information to
      help us diagnose or fix technology problems with the App and to provide,
      improve, test, and monitor the effectiveness of the App.
    </p>
    <p>
      <strong>Business administration and legal compliance:</strong> We use your
      information for business administration and legal compliance purposes,
      including without limitation, to comply with our legal obligations, to
      enforce our legal rights, to protect the rights of third parties, and in
      connection with a business transition such as a merger, reorganisation,
      acquisition by another company, or sale of all or a portion of our assets.
    </p>
    <p>
      <strong>Using the app:</strong> Any action taken by you inside the app may
      be tracked with Google Analytics for Firebase. This is anonymized
      information that cannot be directly traced back to you. We use it to
      decide what features or parts of the app should be changed or removed.
    </p>
    <p><strong>Security</strong></p>
    <p>
      The security of your information is very important to us. We attempt to
      provide for the secure storage of your information by using commercially
      reasonable safeguards and taking reasonable steps to verify your identity
      before granting you access to your account. Unfortunately, due to the
      inherent nature of the Internet and online communications, we cannot
      ensure the security of any information you transmit to us or guarantee
      that information on the App or our servers will be free from unauthorized
      access by third parties such as hackers. Your use of the App demonstrates
      your assumption of this risk.
    </p>
    <p><strong>Other Services, Websites and Applications</strong></p>
    <p>
      The App may integrate third-party services and content and may contain
      links to third-party websites and applications. We are not responsible for
      the privacy practices or content of these third-party services, websites
      and applications, and we do not endorse or promote such third-party
      websites, applications and services. This Privacy Policy and our Terms of
      Use do not apply to any third-party service, website or application. Your
      browsing and interaction on any third-party service, website or
      application or service, including those that are integrated in the App or
      have a link on the App, are subject to that third party’s own rules and
      policies. When you link away from our App, you do so at your own risk.
    </p>
    <p><strong>User Communication With Us</strong></p>
    <p>
      Any material or communications transmitted to us by email, including,
      without limitation, any information, photographs, data, questions,
      comments, or suggestions, will be treated as non-confidential and
      non-proprietary and may be used by us for any purpose, including, without
      limitation, reproduction, disclosure, transmission, publication, broadcast
      and posting
    </p>
    <p><strong>Protection for Children</strong></p>
    <p>
      We do not knowingly collect or solicit any information from anyone under
      the age of 13 or knowingly allow such persons to register for the App. The
      App and its content are not directed at children under the age of 13. In
      the event that we learn that we have collected personal information from a
      child under age 13 without parental consent, we will delete that
      information as quickly as possible. If you believe that we might have any
      information from or about a child under 13, please contact us at
      thefold.app@gmail.com
    </p>
    <p>
      <strong
        >Law enforcement or other government and regulatory agencies:
      </strong>
    </p>
    <p>
      We may share personally identifiable information with law enforcement or
      other government and regulatory agencies or other third parties as
      required by, and in accordance with, applicable law or regulation.
    </p>
    <p><strong>How Can I Correct or Update My Personal Information?</strong></p>
    <p>
      It is important to us that we keep your information up to date. If you
      need to update or correct any of your information, please contact us at
      thefold.app@gmail.com
    </p>
    <p>
      <strong>How we notify you about any updates to our privacy policy</strong>
    </p>
    <p>
      Whenever we update our privacy policy we will notify you by email
      (assuming you have provided your email to us.) and require you to accept
      it again the next time you use the app.
    </p>
    <p><strong>Do Not Track Requests</strong></p>
    <p>
      Due to the software complexities of responding to do not track requests,
      our company does not respond to do not track requests
    </p>
    <p><strong>Terms of Use</strong></p>
    <p>
      This Privacy Policy, and the use of the App, is subject to our Terms of
      Use.
    </p>
    <p><strong>United States of America</strong></p>
    <p>
      Our App is maintained in the United States of America. By accessing the
      App from a jurisdiction outside of the United States, you freely and
      specifically give us your consent to export your personally identifiable
      information from your local jurisdiction to our servers in the United
      States and to store and use such information in the United States as set
      forth in this Privacy Policy.
    </p>
  </body>
</html>
